# Ignore large datasets
data/*
!data/.gitkeep

# Cache files
__pycache__
*.pyc
.cache

# large models
models/*.csv

# Vim files
*.swo
*.swp

# Ignore virtual environments
venv*
!venv/.gitkeep
!venv/install_venv.sh
