# Ignore large datasets
data/ISOT/*
!data/ISOT/.gitkeep
data/ISCX/*
!data/ISCX/.gitkeep

# Cache files
__pycache__
*.pyc
.cache

# large models
models/*.csv
!models/.gitkeep

# Vim files
*.swo
*.swp

# Ignore virtual environments
venv*
!venv/.gitkeep
!venv/install_venv.sh
